<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main.lua</string>
	</array>
	<key>ProjectID</key>
	<string>98799AE9-3D81-4B66-858A-48DA4DC9866A</string>
</dict>
</plist>
